@charset "utf-8";
/* CSS Document */
/*----------------
	RESET CSS
-----------------*/
body {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	padding: 0;
	background: #fff;
	color: #000000;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}

div,
ul,
h1,
h2,
h3,
h4,
h5,
li,
p,
img,
form,
input,
textarea {
	margin: 0;
	padding: 0;
}

header,
section,
footer,
aside,
nav,
main,
article,
figure {
	display: block;
}

table,
tr,
td {
	border: 0;
}

a {
	outline: none;
	color: inherit;
	text-decoration: none;
}

img {
	border: none;
	height: auto;
}

li {
	list-style: none;
}

* {
	box-sizing: border-box;
}

.img-full {
	max-width: 100%;
}

.clearall {
	clear: both;
	font-size: 1px;
	line-height: 1px;
	height: 1px;
}


/*--------------------
		FONTS
---------------------*/


/*-----------------------
	MAIN CSS START
------------------------*/
.wrapper {
	overflow: hidden;
}

.container {
	width: 1170px;
	margin: 0 auto;
	padding: 0;
	position: relative;
}

.topStrip {
	background: #1b1c1f;
	float: left;
	width: 100%;
	padding: 6px 0 3px;
}

.topStrip p {
	float: left;
	width: 100%;
	font-size: 16px;
	line-height: 22px;
	color: #fff;
	letter-spacing: 0.5px;
	font-weight: 500;
}

.topStrip p span {
	color: #50ea50;
}

.top-fix-bar {
	float: left;
	width: 100%;
	margin-bottom: 75px;
}

.header {
	float: left;
	width: 100%;
	background: #ffffff;
	height: 75px;
	padding: 4px 0;
	margin-top: -75px;
	top: 75px;
	position: relative;
	-webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.1);
}

.fixed-nav .header {
	position: fixed;
	z-index: 11;
	-webkit-transition: margin .3s ease-out;
	transition: margin .3s ease-out;
	margin-top: 0;
	top: 0;
	-webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.1);
}

.logo {
	float: left;
	width: 200px;
}

ul.topMenu {
	float: right;
	margin: 18px 100px 0 0;
}

ul.topMenu li {
	float: left;
	padding: 4px 15px;
	position: relative;
}

ul.topMenu li a {
	color: #000000;
	font-size: 16px;
	line-height: 16px;
	font-weight: 500;
	letter-spacing: 0.5px;
}

ul.topMenu li:after {
	content: '';
	width: 1px;
	background: #cfcfcf;
	top: 8px;
	bottom: 9px;
	position: absolute;
	right: 0;
}

ul.topMenu li:last-child:after {
	display: none;
}

a.nav-btn {
	float: right;
	background: #1dd068;
	color: #fff;
	font-size: 18px;
	text-align: center;
	width: 150px;
	height: 40px;
	line-height: 44px;
	border-radius: 50px;
	margin-top: 14px;
	font-weight: bold;
	letter-spacing: 0.5px;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}

/*--------HAMBURGER MENU--------*/
.mob-mnu-ic {
	cursor: pointer;
	position: absolute;
	right: 0px;
	top: 22px;
	z-index: 16;
	height: 30px;
}

.mob-mnu-ic button {
	outline: none;
	-webkit-appearance: none;
	background: none;
	padding: 0;
	cursor: pointer;
	border: none;
}

.mob-mnu-ic span {
	color: #000;
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	font-weight: 300;
	margin-top: 4px;
	margin-right: 5px;
}

.bar1,
.bar2,
.bar3 {
	width: 25px;
	height: 3px;
	background-color: #000;
	transition: 0.4s;
	-webkit-border-radius: 2px 2px 2px 2px;
	border-radius: 2px 2px 2px 2px;
}

.bar2 {
	margin: 4px 0;
}

.dl-active .bar1 {
	-webkit-transform: rotate(-45deg) translate(-5px, 5px);
	transform: rotate(-45deg) translate(-5px, 5px);
	background: #000;
}

.dl-active .bar2 {
	opacity: 0;
}

.dl-active .bar3 {
	-webkit-transform: rotate(45deg) translate(-5px, -5px);
	transform: rotate(45deg) translate(-5px, -5px);
	background: #000;
}

.mobilemenu {
	left: 0;
	position: fixed;
	top: 105px;
	background: rgba(255, 255, 255, 1);
	z-index: 10;
	right: 0;
	bottom: 0;
	overflow: scroll;
	display: none;
}

.mobimenu-top {
	top: 75px;
}

.mobilemenu li {
	float: left;
	width: 100%;
	text-align: left;
	border-bottom: 1px solid #dddddd;
}

.mobilemenu li a {
	float: left;
	width: 100%;
	padding: 12px 20px;
	font-size: 15px;
	color: #000;
	font-weight: 500;
}

.mobilemenu li a:hover {
	color: #000;
}

/*-----------------------
		BANNER CSS
------------------------*/
.banner {
	float: left;
	width: 100%;
	overflow: hidden;
	padding: 45px 0 50px;
	background: url(../images/banner.jpg) no-repeat center top;
	background-size: cover;
}

.banner-left {
	float: left;
	width: 55%;
	text-align: left;
	position: relative;
}

.bnrStar {
	float: left;
	width: 100%;
	color: #fff;
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	letter-spacing: 0.3px;
}

.bnrStar img {
	display: inline-block;
	vertical-align: middle;
	margin: -6px 12px 0 0;
}

.bnrHeading {
	float: left;
	width: 100%;
	margin-top: 30px;
	font-size: 56px;
	line-height: 62px;
	font-weight: bold;
	color: #fff;
}

.bnrText1 {
	float: left;
	width: 100%;
	margin-top: 20px;
	font-size: 18px;
	line-height: 28px;
	font-weight: 300;
	letter-spacing: 0.3px;
	color: #fff;
}

.bnrList {
	float: left;
	width: 100%;
	margin-top: 25px;
}

.bnrList li {
	float: left;
	width: 100%;
	padding-left: 40px;
	background: url(../images/listStyle.png) no-repeat 0px 2px;
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
	letter-spacing: 0.3px;
	color: #fff;
	margin-top: 10px;
	text-align: left;
}

.bnrProd1,
.bnrProd2 {
	position: absolute;
	top: -30px;
	left: 650px;
}

.btnBox {
	display: inline-block;
	vertical-align: top;
	max-width: 420px;
	width: 100%;
	margin-top: 35px;
	text-align: center;
}

.comn-btn {
	float: left;
    width: 100%;
    background: rgb(69, 181, 69);
    background: linear-gradient(90deg, rgba(69, 181, 69, 1) 0%, rgba(15, 174, 90, 1) 100%);
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.5px;
    border-radius: 50px;
    position: relative;
    padding-left: 20px;
	padding-right: 20px;
	padding-top: 15px !important;
	padding-bottom: 15px !important;
    overflow: hidden;
    letter-spacing: 0;
    box-shadow: 0 3px 5px 3px rgb(0 0 0 / 20%);
    -webkit-box-shadow: 0 3px 5px 3px rgb(0 0 0 / 20%);
}

.btn-arw {
	display: inline-block;
	vertical-align: middle;
	margin: -4px 0 0 15px;
}

.btn-txt {
	float: left;
	width: 100%;
	color: #000;
	margin-top: 10px;
}

.btn-txt p {
	display: inline-block;
	vertical-align: middle;
	padding: 0 8px;
	font-size: 13px;
	line-height: 17px;
	letter-spacing: 0;
}

.btn-txt p span {
	font-weight: 500;
}

.hourglass {
	display: inline-block;
	vertical-align: middle;
	margin: -2px 3px 0 0;
	animation: rotateP 2.5s ease-in-out forwards infinite
}

@keyframes rotateP {
	0% {
		transform: rotate(0)
	}

	50% {
		transform: rotate(180deg)
	}

	100% {
		transform: rotate(180deg)
	}
}

@keyframes rotate {
	0% {
		transform: rotate(00deg)
	}

	100% {
		transform: rotate(360deg)
	}
}

.btn-text1:before {
	display: inline-block;
	vertical-align: middle;
	margin: -2px 5px 0 0;
	width: 9px;
	height: 9px;
	background: #6fb620;
	border-radius: 50%;
	content: "";
	animation: fade 1s ease-in-out infinite;
}

@keyframes fade {
	0% {
		opacity: 100%;
	}

	50% {
		opacity: 30%;
	}

	70% {
		opacity: 100%;
	}

	100% {
		opacity: 100%;
	}
}


/*----FEATURED-SECTION----*/
.ftrSec {
	float: left;
	width: 100%;
	padding: 25px 0;
	border-bottom: 1px solid #e1e1e1;
}

.ftrText {
	font-size: 17px;
	line-height: 22px;
	font-weight: 600;
	color: #000;
}

.ftrList {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	margin-top: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.ftrList li {
	display: inline-block;
	vertical-align: middle;
}

.ftrList li img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}


/*----SECTION-1----*/
.section1 {
	float: left;
	width: 100%;
	padding: 120px 0 80px;
	background: #FFF;
	position: relative;
	text-align: center;
	overflow: hidden;
}

.s1Left {
	float: left;
	width: 500px;
	position: relative;
}

.s1Circle {
	position: absolute;
	top: 30px;
	right: 100px;
	width: 600px;
	height: 600px;
	border-radius: 50%;
	background: rgb(38, 123, 182);
	background: linear-gradient(180deg, rgba(38, 123, 182, 1) 0%, rgba(99, 197, 191, 1) 100%);
}

.s1Prod {
	position: absolute;
	top: -20px;
	right: 80px;
}

.s1Dotsleft {
	position: absolute;
	top: -90px;
	left: -165px;
}

.s1DotsRight {
	position: absolute;
	right: -380px;
	bottom: -170px;
}

.s1Right {
	float: right;
	width: calc(100% - 480px);
	max-width: 100%;
	text-align: left;
	position: relative;
	z-index: 1;
}

.secName {
	float: left;
	width: 100%;
	font-size: 19px;
	line-height: 22px;
	font-weight: 500;
	color: #000;
	letter-spacing: 0.5px;
	text-transform: uppercase;
}

.commonHead {
	float: left;
	width: 100%;
	font-size: 56px;
	line-height: 68px;
	font-weight: 600;
	color: #000;
	margin-top: 20px;
}

.subHead {
	float: left;
	width: 100%;
	font-size: 20px;
	line-height: 26px;
	font-weight: bold;
	color: #000;
	margin-top: 40px;
}

.commonText {
	float: left;
	width: 100%;
	font-size: 17px;
	line-height: 26px;
	font-weight: normal;
	color: #000;
	letter-spacing: 0.5px;
	margin-top: 20px;
}

.s1Right .commonText {
	padding-right: 60px;
}


/*----SECTION-2----*/
.section2 {
	float: left;
	width: 100%;
	padding: 0;
	background: #fff;
	position: relative;
	text-align: center;
}

.s2Top {
	float: left;
	width: 100%;
	background: #131314;
	padding: 60px 0 90px;
	position: relative;
}

.s2Mid {
	float: left;
	width: 100%;
	position: relative;
	margin-top: 30px;
}

.s2Prod {
	position: absolute;
	top: 0;
	left: 185px;
}

.s2Col {
	width: 36%;
}

.s2Col.fl {
	text-align: left;
}

.s2Col.fr {
	text-align: right;
}

.s2Row {
	float: left;
	width: 100%;
	margin-top: 30px;
	padding: 0 0 25px 110px;
	position: relative;
}

.s2Row:last-child {
	border: none;
}

.s2Col.fr .s2Row {
	padding: 0 110px 25px 0;
}

.s2Row:after {
	content: '';
	position: absolute;
	bottom: 0;
	border-bottom: 1px solid #212122;
}

.s2Row:last-child:after {
	display: none;
}

.s2Col.fl .s2Row:after {
	left: 0;
	right: 0;
}

.s2Col.fr .s2Row:after {
	left: 0;
	right: 0;
}

.s2RowImg {
	position: absolute;
	top: 10px;
	width: 100px;
}

.s2Col.fl .s2RowImg {
	left: 0;
}

.s2Col.fr .s2RowImg {
	right: 0;
}

.s2RowHead {
	float: left;
	width: 100%;
	font-size: 23px;
	line-height: 30px;
	font-weight: 500;
	color: #fff;
	letter-spacing: 0.5px;
}

.s2RowText {
	float: left;
	width: 100%;
	font-size: 17px;
	line-height: 26px;
	font-weight: 300;
	color: #b0b0b0;
	letter-spacing: 0.5px;
	margin-top: 10px;
}

.s2Bottom {
	float: left;
	width: 100%;
	position: relative;
	background: #fff;
	padding: 0 0 60px;
}

.s2AddBox {
	float: left;
	width: 100%;
	position: relative;
	margin-top: -90px;
}

.s2AddBox:before {
	content: '';
	position: absolute;
	top: 30px;
	height: 200px;
	left: -70px;
	right: -70px;
	border-radius: 100px;
	background: #fff;
}

.s2AddHead {
	display: inline-block;
	vertical-align: top;
	background: #131314;
	color: #fff;
	font-size: 25px;
	line-height: 24px;
	font-weight: 500;
	letter-spacing: 0.3px;
	padding: 20px 40px 15px 40px;
	border-radius: 50px;
	position: relative;
}

.s2List {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	margin-top: 10px;
}

.s2List li {
	float: left;
	width: 12.5%;
	position: relative;
}

.s2List li:first-child,
.s2List li:nth-child(8) {
	margin-top: 150px;
}

.s2List li:nth-child(2),
.s2List li:nth-child(7) {
	margin-top: 65px;
}

.s2List li:nth-child(3),
.s2List li:nth-child(6) {
	margin-top: 10px;
}

.s2ListText {
	float: left;
	width: 100%;
	text-align: center;
	color: #000000;
	font-size: 17px;
	line-height: 22px;
	font-weight: 500;
	letter-spacing: 0.5px;
}

.addIcon {
	display: inline-block;
	vertical-align: top;
	margin-top: 10px;
	max-width: 100%;
	width: 80px;
}

.dot {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	position: absolute;
}

.dotCol1 {
	bottom: -30px;
	right: -10px;
	background: #dbf4ca;
}

.dotCol2 {
	bottom: -35px;
	right: 15px;
	background: #ffc6bf;
}

.dotCol3 {
	bottom: -40px;
	right: 40px;
	background: #dbf8fc;
}

.dotCol4 {
	bottom: -50px;
	right: 60px;
	background: #f3e4fb;
}

.dotCol5 {
	bottom: -50px;
	left: 60px;
	background: #c7d4f6;
}

.dotCol6 {
	bottom: -40px;
	left: 40px;
	background: #fef1e1;
}

.dotCol7 {
	bottom: -35px;
	left: 15px;
	background: #fef8bc;
}

.dotCol8 {
	bottom: -30px;
	left: -10px;
	background: #fedbd5;
}

.section2 .btnBox {
	margin-top: 100px;
}

.s2AddProd {
	position: absolute;
	bottom: -500px;
	left: 160px;
	width: 860px;
}

/*----SECTION-3----*/
.section3 {
	float: left;
	width: 100%;
	padding: 80px 0 50px;
	background: url(../images/s3-back.jpg) no-repeat center top #131314;
	position: relative;
	text-align: center;
	overflow-x: clip;
}

.s3LeftImg {
	position: absolute;
	left: -240px;
	top: -50px;
}

.s3RightImg {
	position: absolute;
	right: -220px;
	top: -50px;
}

.s3Inner {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	max-width: 710px;
}

.section3 .commonText {
	margin-top: 30px;
	padding: 0 60px;
}

.section3 .commonText.underline {
	margin-top: 60px;
}

/*----SECTION-4----*/
.section4 {
	float: left;
	width: 100%;
	height: 580px;
	text-align: left;
	overflow-x: clip;
}

.s4Left {
	float: left;
	width: 50%;
	position: relative;
	padding: 60px 0 0;
}

.s4Left:before {
	content: "";
	position: absolute;
	right: 0;
	top: 0;
	left: -2000px;
	bottom: 0;
	background: url(../images/s4-leftbg.jpg) no-repeat right center;
	height: 580px;
}

.s4LeftInner {
	float: left;
	width: 350px;
	position: relative;
}

.s4LeftInner .commonText {
	padding-right: 70px;
}

.s4Right {
	float: right;
	width: 50%;
	position: relative;
	padding: 60px 0 0 45px;
}

.s4Right:before {
	content: "";
	position: absolute;
	left: 0;
	right: -2000px;
	top: 0;
	bottom: 0;
	background: url(../images/s4-rightbg.jpg) no-repeat left center;
	height: 580px;
}

.s4RightInner {
	float: left;
	width: 360px;
	position: relative;
}

.colorList {
	float: left;
	width: 100%;
	margin-top: 30px;
}

.colorList li {
	float: left;
	width: 21%;
	text-align: center;
}

.colorDot {
	display: block;
	margin: 0 auto;
	border-radius: 50%;
	width: 26px;
	height: 26px;
}

.whiteDot {
	background: #fff;
	border: 1px solid #ddd;
}

.blackDot {
	background: rgb(69, 69, 69);
	background: linear-gradient(180deg, rgba(69, 69, 69, 1) 0%, rgba(48, 48, 48, 1) 100%);
}

.blueDot {
	background: rgb(45, 98, 125);
	background: linear-gradient(180deg, rgba(45, 98, 125, 1) 0%, rgba(67, 120, 147, 1) 100%);
}

.yellowDot {
	background: rgb(219, 211, 170);
	background: linear-gradient(180deg, rgba(219, 211, 170, 1) 0%, rgba(242, 234, 194, 1) 100%);
}

.pinkDot {
	background: rgb(229, 189, 186);
	background: linear-gradient(180deg, rgba(229, 189, 186, 1) 0%, rgba(252, 213, 210, 1) 100%);
}

.colorName {
	font-size: 14px;
	line-height: 14px;
	color: #000;
	font-weight: 600;
	margin-top: 5px;
	text-transform: uppercase;
}

/*----SECTION-5----*/
.section5 {
	float: left;
	width: 100%;
	padding: 60px 0 60px;
	position: relative;
	text-align: center;
}

.s5CompBox {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	max-width: 1030px;
	background: #fff;
	border-radius: 20px;
	margin-top: 200px;
	margin-bottom: 30px;
	box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.2);
}

.s5Col1 {
	float: left;
	width: 37%;
	padding: 25px 0;
	position: relative;
}

.s5Col1 ul {
	float: left;
	width: 100%;
}

.s5Col1 ul li {
	float: left;
	width: 100%;
	height: 70px;
	text-align: left;
	font-size: 19px;
	line-height: 74px;
	color: #000;
	letter-spacing: 0.3px;
	font-weight: 600;
	padding: 0 0 0 60px;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	border-bottom: 1px solid #e7e7e7;
	background: url(../images/comp-point.png) no-repeat 22px 25px;
}

.s5Col1 ul li:last-child {
	border: none;
}

.s5Col1 ul li img {
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -13px;
}

.s5Col2 {
	float: left;
	width: 19%;
	background: #2c7fba;
	border-radius: 20px;
	margin: -95px 20px -25px 0;
}

.s5Col2Top {
	float: left;
	width: 100%;
	height: 115px;
}

.s5Col2Prod {
	display: block;
	margin: -85px auto 10px;
	max-width: 100%;
}

.s5Col3Prod {
	display: block;
	margin: -60px auto 15px;
	max-width: 100%;
}

.s5Col4Prod {
	display: block;
	margin: -60px auto 14px;
	max-width: 100%;
}

.s5Col2Top p {
	font-size: 30px;
	line-height: 30px;
	color: #ffffff;
	font-weight: 600;
	letter-spacing: 0.5px;
}

.s5Col3Top p,
.s5Col4Top p {
	font-size: 19px;
	line-height: 19px;
}

.s5Col2 ul {
	float: left;
	width: 100%;
	padding-top: 5px;
}

.s5Col2 ul li {
	float: left;
	width: 100%;
	height: 70px;
	text-align: center;
	padding: 20px 0;
	border-bottom: 1px solid #4d82a8;
}

.s5Col2 ul li:last-child {
	border: none;
	height: 115px;
}

.s5Col3 {
	background: #383838;
}

.s5Col3 ul li {
	border-bottom: 1px solid #484848;
}

.s5Col4 {
	background: #383838;
}

.s5Col4 ul li {
	border-bottom: 1px solid #484848;
}


/*----SECTION-6----*/
.section6 {
	float: left;
	width: 100%;
	background: #191919;
	position: relative;
	text-align: left;
	overflow: hidden;
}

.s6Left {
	/* float:left; */
	position: relative;
}

.s6SealBg {
	position: absolute;
	top: 0;
	left: 80px;
}

.s6Seal {
	position: absolute;
	top: 97px;
	left: 103px;
}

.s6Right {
	float: right;
	width: calc(100% - 500px);
	padding: 34px 0 40px;
}

.s6Right .commonText {
	padding-right: 46px;
}

/*----SECTION-7----*/
.section7 {
	float: left;
	width: 100%;
	padding: 60px 0 70px;
	position: relative;
	text-align: center;
}

.s7Mid {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	max-width: 1320px;
	margin-top: 40px;
}

.testBox {
	float: left;
	width: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	flex-wrap: wrap;
	display: flex;
	justify-content: space-between;
}

.testCol {
	float: left;
	width: 31%;
}

.testImage {
	display: inline-block;
	vertical-align: top;
	max-width: 100%;
	border-radius: 12px
}

.testStar {
	display: inline-block;
	vertical-align: top;
	max-width: 100%;
	margin-top: 30px;
}

.testCol .commonText.testhead {
	margin-top: 20px;
	font-weight: 600;
}

.testCol .commonText {
	margin-top: 10px;
}

.testName {
	float: left;
	width: 100%;
	font-size: 17px;
	line-height: 18px;
	color: #000;
	letter-spacing: 0.3px;
	font-weight: 600;
	margin-top: 25px;
}

.testName img {
	display: inline-block;
	vertical-align: middle;
	margin: -5px 3px 0 10px;
}

.testName span {
	color: #37b72d;
	font-size: 14px;
	font-weight: normal;
	letter-spacing: 0.5px;
}

.section7 .btnBox {
	margin-top: 50px;
}

/*----SECTION-8----*/
.section8 {
	float: left;
	width: 100%;
	padding: 70px 0 60px;
	background: #f5f5f5;
	position: relative;
	text-align: center;
}

.faq-container {
	display: inline-block;
	vertical-align: top;
	max-width: 830px;
	width: 100%;
	margin: 15px 0 15px;
}

.up-slide-dwn {
	float: left;
	width: 100%;
	background: #fff;
	border-radius: 8px;
	-webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
	margin-top: 25px;
	padding: 10px 25px 8px 30px;
}

.accordion {
	float: left;
	width: 100%;
	text-align: left;
	background: url(../images/close.png) no-repeat 100% center;
	padding: 13px 45px 10px 0;
	font-size: 18px;
	line-height: 30px;
	font-weight: 600;
	color: #000;
	letter-spacing: 0.5px;
	cursor: pointer;
	position: relative;
}

.accordion.last {
	border-bottom: none;
}

.acdn-heading.accordion-open {
	background: url(../images/open.png) no-repeat 100% center;
	border: none;
}

.acdn-content {
	float: left;
	width: 100%;
	text-align: left;
	padding: 0 0 10px 0;
}

.acdn-para {
	float: left;
	width: 100%;
	font-size: 17px;
	line-height: 26px;
	font-weight: normal;
	letter-spacing: 0.5px;
	color: #000000;
	margin-top: 10px;
}

.acdn-para.acdnSubHead {
	font-weight: 600;
	margin-top: 20px;
}

.acdnImg {
	display: inline-block;
	vertical-align: top;
	margin: 20px 10px 0 0;
	max-width: 100%;
}

.acdnList {
	float: left;
	width: 100%;
}

.acdnList li {
	float: left;
	width: 100%;
	margin-top: 16px;
	padding: 0 0 10px 70px;
	position: relative;
	font-size: 17px;
	line-height: 23px;
	font-weight: normal;
	letter-spacing: 0.5px;
	color: #000000;
}

/*.acdnBorder li:after{
	content:'';
	position:absolute;
	bottom:0;
	left:70px;
	right:20px;
	background:#d4d4d4;
	height:1px;
	}
.acdnBorder li:last-child:after{
	display:none;
	}*/
.acdnListNo {
	position: absolute;
	top: 0;
	left: 0;
	font-weight: 600;
}

.acdnList.acdnListStyle li {
	padding-left: 25px;
}

.acdnList.acdnListStyle li:before {
	position: absolute;
	top: 5px;
	left: 2px;
	content: '';
	width: 8px;
	height: 8px;
	background: #000;
	border-radius: 50%;
}

/*----FOOTER----*/
.footer {
	float: left;
	width: 100%;
	padding: 40px 0 30px;
	background: #FFF;
	position: relative;
}

.footerLogo {
	display: inline-block;
	vertical-align: top;
	max-width: 100%;
	margin-bottom: 20px;
	width: 75px;
}


.ftrText1 {
	float: left;
	width: 100%;
	font-size: 16px;
	line-height: 26px;
	font-weight: normal;
	color: #333333;
	margin-top: 10px;
	letter-spacing: 0.3px;
}

.ftrText1 a {
	padding: 0 5px;
}

.lightText {
	font-weight: 300;
}

.whiteText {
	color: #fff;
}

.greyText {
	color: #cdcdcd;
}

.underline {
	text-decoration: underline;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.show-tab,
.show-mob {
	display: none;
}

/*-----------------------
		Pulse
------------------------*/
.pulse {
	animation-name: pulse;
	-webkit-animation-name: pulse;
	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.9);
	}

	50% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.9);
	}
}

@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(0.95);
	}

	50% {
		-webkit-transform: scale(1);
	}

	100% {
		-webkit-transform: scale(0.95);
	}
}



/*---------Media Querry---------*/
@media only screen and (max-width:1310px) {
	.s2AddBox:before {
		left: -30px;
		right: -30px;
	}

}


@media only screen and (max-width:1200px) {
	.container {
		width: 1004px;
	}

	ul.topMenu {
		margin: 18px 40px 0 0;
	}

	.banner-left {
		width: 58%;
	}

	.bnrHeading {
		font-size: 51px;
	}

	.bnrText1 {
		font-size: 17px;
	}

	.bnrProd1,
	.bnrProd2 {
		left: 500px;
	}

	.section1 {
		padding: 90px 0 80px;
	}

	.s1Dotsleft {
		width: 250px;
		top: -70px;
		left: -130px;
	}

	.s1DotsRight {
		width: 570px;
		right: -330px;
		bottom: -140px;
	}

	.s1Left {
		width: 460px;
	}

	.s1Prod {
		top: 50px;
		right: 80px;
	}

	.s1Right {
		width: calc(100% - 410px);
	}

	.secName {
		font-size: 18px;
	}

	.commonHead {
		font-size: 48px;
		line-height: 60px;
	}

	.s2Col {
		width: 36%;
	}

	.s2Prod {
		top: 30px;
		left: 130px;
		width: 750px;
	}

	.s2Row {
		margin-top: 25px;
	}

	.s2RowHead {
		font-size: 21px;
	}

	.s2Bottom {
		padding: 0 0 40px;
	}

	.s2ListText {
		font-size: 15px;
	}

	.s2AddProd {
		bottom: -420px;
		left: 135px;
		width: 740px;
	}

	.section2 .btnBox {
		margin-top: 70px;
	}

	.section3 {
		padding: 90px 0 70px;
	}

	.s3Inner {
		max-width: 760px;
	}

	.s3LeftImg {
		left: -340px;
		top: -90px;
	}

	.s3RightImg {
		right: -320px;
		top: -90px;
	}

	.section3 .commonText {
		padding: 0;
	}

	.s4Left:before {
		right: -40px;
	}

	.s6Right {
		width: calc(100% - 410px);
		padding: 30px 0 36px;
	}

	.s6Right .commonText {
		padding-right: 22px;
	}

	.s6SealBg {
		left: 40px;
	}

	.s6Seal {
		left: 63px;
	}

	.section7 {
		padding: 60px 0 50px;
	}
}


@media only screen and (max-width:1021px) {
	.container {
		width: 750px;
	}

	.show-desk {
		display: none;
	}

	.show-tab {
		display: block;
	}

	.banner-left {
		width: 58%;
	}

	.bnrHeading {
		margin-top: 25px;
		font-size: 40px;
		line-height: 46px;
	}

	.bnrText1 {
		margin-top: 15px;
	}

	.bnrList {
		margin-top: 20px;
	}

	.bnrList li {
		font-size: 20px;
		margin-top: 5px;
	}

	.btnBox {
		max-width: 350px;
	}

	.comn-btn {
		font-size: 20px;
		padding: 0 25px;
	}

	.btn-arw {
		margin: -4px 0 0 20px;
	}

	.btn-txt p {
		padding: 0 3px;
	}

	.hourglass {
		margin: -1px 3px 0 0;
	}

	.bnrProd1,
	.bnrProd2 {
		top: 0;
		left: 410px;
		width: 400px;
	}

	.logo1 {
		width: 46px;
	}

	.logo2 {
		width: 130px;
	}

	.logo3 {
		width: 70px;
	}

	.logo4 {
		width: 130px;
	}

	.logo5 {
		width: 110px;
	}


	.section1 {
		padding: 70px 0 70px;
	}

	.s1Dotsleft {
		top: -55px;
		left: -120px;
		width: 200px;
	}

	.s1DotsRight {
		right: -290px;
		bottom: -130px;
		width: 460px;
	}

	.s1Left {
		width: 370px;
	}

	.s1Circle {
		top: 50px;
		width: 500px;
		height: 500px;
	}

	.s1Prod {
		top: 50px;
		right: 80px;
		width: 300px;
	}

	.s1Right {
		width: calc(100% - 330px);
	}

	.s1Right .commonText {
		padding-right: 0;
	}

	.secName {
		font-size: 17px;
	}

	.commonHead {
		font-size: 34px;
		line-height: 40px;
		margin-top: 15px;
	}

	.commonText {
		font-size: 16px;
		line-height: 24px;
		margin-top: 15px;
	}

	.subHead {
		font-size: 18px;
		margin-top: 30px;
	}

	.section2:before {
		height: 735px;
	}

	.s2Top .commonText {
		padding: 0 40px;
	}

	.s2Col {
		width: 39%;
	}

	.s2Row {
		margin-top: 18px;
		padding: 0px 0 15px 70px;
	}

	.s2Col.fr .s2Row {
		padding: 0 70px 15px 0;
	}

	.s2RowImg {
		width: 60px;
	}

	.s2RowHead {
		font-size: 17px;
		line-height: 23px;
	}

	.s2RowText {
		font-size: 15px;
		line-height: 21px;
		margin-top: 5px;
	}

	.s2Prod {
		top: 80px;
		left: 150px;
		width: 450px;
	}

	.s2AddBox:before {
		left: -10px;
		right: -10px;
		height: 160px;
	}

	.s2AddHead {
		font-size: 19px;
		line-height: 19px;
		padding: 22px 40px 15px 40px;
	}

	.s2List li:first-child {
		margin-top: 85px;
	}

	.s2List li:nth-child(3),
	.s2List li:nth-child(6) {
		margin-top: 10px;
	}

	.s2List li:nth-child(2) {
		margin-top: 30px;
	}

	.s2List li:nth-child(7) {
		margin-top: 47px;
	}

	.s2List li:nth-child(8) {
		margin-top: 102px;
	}

	.s2List li:last-child {
		margin-top: 100px;
	}

	.s2ListText {
		font-size: 13px;
		line-height: 17px;
	}

	.addIcon {
		width: 60px;
	}

	.dot {
		width: 14px;
		height: 14px;
	}

	.dotCol1 {
		bottom: -15px;
		right: -15px;
	}

	.dotCol2 {
		bottom: -22px;
		right: 8px;
	}

	.dotCol3 {
		right: 25px;
	}

	.dotCol4 {
		right: 30px;
	}

	.dotCol5 {
		left: 30px;
	}

	.dotCol6 {
		left: 25px;
	}

	.dotCol7 {
		bottom: -22px;
		left: 8px;
	}

	.dotCol8 {
		bottom: -15px;
		left: -15px;
	}

	.s2AddProd {
		bottom: -280px;
		left: 109px;
		width: 530px;
	}

	.section2 .btnBox {
		margin-top: 60px;
	}

	.section3 {
		padding: 60px 0 50px;
		background-size: cover;
	}

	.s3LeftImg,
	.s3RightImg {
		display: none;
	}

	.s3Inner {
		max-width: 675x;
	}

	.section3 .commonText {
		padding: 0 15px;
		margin-top: 20px;
	}

	.section4 {
		height: auto;
	}

	.s4Left {
		height: 474px;
		width: 100%;
		padding: 50px 0 0 30px;
	}

	.s4Left:before {
		height: 474px;
		right: -10px;
		left: -10px;
	}

	.s4Right {
		height: 474px;
		width: 100%;
		padding: 50px 0 0 30px;
	}

	.s4Right:before {
		height: 474px;
		left: -10px;
		right: -10px;
		background-position: left bottom;
	}

	.section5 {
		padding: 40px 0 40px;
	}

	.s5Col1 {
		padding: 15px 0;
		width: 40%;
	}

	.s5Col1 ul li {
		height: 60px;
		font-size: 16px;
		line-height: 62px;
		font-weight: 500;
		padding: 0 0 0 50px;
		background-position: 20px 20px;
		align-items: normal;
	}

	.s5Col2 {
		width: 18%;
		margin: -95px 15px -25px 0;
	}

	.s5Col2Top {
		height: 105px;
	}

	.s5Col2Prod {
		margin: -65px auto 10px;
		width: 80px;
	}

	.s5Col2Top p {
		font-size: 25px;
	}

	.s5Col2 ul li {
		height: 60px;
	}

	.s5Col2 ul li img {
		width: 24px;
	}

	.s5Col2 ul li:last-child {
		height: 95px;
	}

	.s5Col3Top p,
	.s5Col4Top p {
		font-size: 17px;
	}

	.s5Col3Prod,
	.s5Col4Prod {
		margin: -52px auto 15px;
		width: 95px;
	}


	.s6Right {
		width: calc(100% - 340px);
	}

	.s6SealBg {
		left: 10px;
		width: 295px;
	}

	.s6Seal {
		left: 33px;
		width: 250px;
		top: 86px;
	}

	.section7 {
		padding: 40px 0 40px;
	}

	.s7Mid {
		margin-top: 20px;
	}

	.testBox {
		margin-top: 30px;
	}

	.testStar {
		margin-top: 20px;
	}

	.testCol .commonText.testhead {
		margin-top: 15px;
	}

	.testName {
		font-size: 16px;
		margin-top: 15px;
	}

	.section7 .btnBox {
		margin-top: 35px;
	}

	.section8 {
		padding: 40px 0 40px;
	}

	.faq-container {
		margin: 10px 0;
	}

	.up-slide-dwn {
		margin-top: 20px;
	}

	.accordion {
		padding: 15px 45px 12px 0;
		font-size: 17px;
		line-height: 22px;
	}

	.acdn-para {
		margin-top: 0;
		font-size: 16px;
		line-height: 25px;
	}

	.acdnList li {
		margin-top: 10px;
		font-size: 16px;
	}

	.footer {
		padding: 40px 0 30px;
	}

	.ftrLinks {
		margin-top: 20px;
	}

	.ftrLinks li {
		font-size: 15px;
		line-height: 27px;
	}

	.ftrText1 {
		font-size: 15px;
	}
}

@media only screen and (max-width:767px) {
	.container {
		width: 100%;
		padding: 0 15px;
		max-width: 600px;
		box-sizing: border-box;
	}

	.show-desk {
		display: none;
	}

	.show-mob {
		display: block;
	}

	.hide-mob {
		display: none;
	}

	.topStrip {
		padding: 8px 0 5px;
		overflow: hidden;
	}

	.topStrip p {
		font-size: 11px;
		line-height: 11px;
	}

	.top-fix-bar {
		margin-bottom: 65px;
	}

	.header {
		height: 65px;
		padding: 5px 0;
		margin-top: -65px;
		top: 65px;
	}

	.logo {
		width: 200px;
	}

	.mob-mnu-ic {
		top: 18px;
		right: 15px;
	}

	.mobilemenu {
		top: 89px;
	}

	.mobimenu-top {
		top: 65px;
	}

	.banner {
		padding: 25px 0 25px;
		background: #1e1f23;
	}

	.banner-left {
		width: 100%;
		text-align: center;
	}

	.bnrStar {
		font-size: 13px;
		line-height: 13px;
	}

	.bnrHeading {
		margin-top: 14px;
		font-size: 28px;
		line-height: 34px;
		margin-bottom: -15px;
	}

	.bnr-mob-div {
		display: inline-block;
		vertical-align: middle;
		position: relative;
	}

	.bnrProd1 {
		position: static;
		display: block;
		margin: 0 auto;
		max-width: 100%;
		width: 300px;
	}

	.bnrProd2 {
		display: block;
		margin: 0 auto;
		max-width: 100%;
		width: 300px;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 2;
	}

	.bnrText1 {
		font-size: 16px;
		margin-top: -20px;
		letter-spacing: 0.5px;
		position: relative;
	}

	.bnrList {
		margin-top: 15px;
		float: none;
		width: auto;
		display: inline-block;
		vertical-align: top;
	}

	.bnrList li {
		float: none;
		width: auto;
		font-size: 17px;
		margin-top: 5px;
		padding-left: 30px;
		background-position: 2px 3px;
		background-size: 19px;
	}

	.ftrSec {
		padding: 20px 0;
	}

	.ftrText {
		font-size: 14px;
		line-height: 14px;
	}

	.ftrList {
		flex-wrap: wrap;
		margin-top: 0;
		justify-content: center;
	}

	.ftrList li {
		margin: 15px 15px 0;
		padding: 0;
	}

	.logo1 {
		width: 30px;
	}

	.logo2 {
		width: 100px;
	}

	.logo3 {
		width: 50px;
	}

	.logo4 {
		width: 90px;
	}

	.logo5 {
		width: 70px;
	}

	.section1 {
		padding: 30px 0 25px;
	}

	.s1Left {
		width: 100%;
	}

	.s1Circle {
		position: static;
		display: block;
		margin: 20px auto 10px;
		padding: 50px;
		width: 320px;
		height: 320px;
	}

	.s1Prod {
		display: block;
		margin: 0 auto;
		width: 200px;
		position: static;
	}

	.s1Right {
		width: 100%;
		padding: 0;
	}

	.secName {
		font-size: 14px;
	}

	.commonHead {
		font-size: 26px;
		line-height: 32px;
		margin-top: 5px;
	}

	.commonText {
		font-size: 15px;
		line-height: 22px;
		margin-top: 10px;
	}

	.subHead {
		font-size: 17px;
		margin-top: 20px;
		line-height: 23px;
	}

	.s2Top {
		padding: 30px 0 60px;
	}

	.s2Top .commonText {
		padding: 0 10px;
	}

	.section2 .secName {
		font-weight: normal;
	}

	.s2Mid {
		margin-top: 10px;
	}

	.s2Col {
		width: 100%;
		padding: 0 15px;
	}

	.s2Col.fl {
		border-bottom: 1px solid #212122;
	}

	.s2Col.fr {
		text-align: left;
	}

	.s2RowText {
		font-size: 15px;
		line-height: 23px;
		margin-top: 10px;
	}

	.s2Row {
		margin-top: 25px;
		padding: 0px 0 20px 0px;
		text-align: center;
	}

	.s2Col.fr .s2Row {
		padding: 0 0 15px 0;
	}

	.s2RowImg {
		position: static;
		display: block;
		margin: 0 auto;
		width: 100px;
	}

	.s2Col.fr .s2RowImg {
		left: 0;
	}

	.s2RowHead {
		margin-top: 15px;
	}

	.s2Bottom {
		padding: 0px 0 120px;
	}

	.s2AddBox {
		margin-top: -70px;
	}

	.s2AddHead {
		font-size: 17px;
		padding: 14px 30px 10px 30px;
		margin-top: 7px;
	}

	.s2AddBox:before {
		height: 100px;
	}

	.s2List {
		display: flex;
		flex-wrap: wrap;
		align-items: start;
		justify-content: space-evenly;
	}

	.s2List li {
		width: 30%;
		float: none;
		display: flex;
		justify-content: center;
		flex-direction: column-reverse;
	}

	.s2List li:nth-child(2),
	.s2List li:nth-child(7),
	.s2List li:nth-child(3),
	.s2List li:nth-child(6),
	.s2List li:nth-child(4),
	.s2List li:nth-child(5),
	.s2List li:nth-child(8),
	.s2List li:first-child,
	.s2List li:last-child {
		margin-top: 15px;
	}

	.addIcon {
		display: block;
		margin: 0 auto;
	}

	.dot {
		display: none;
	}

	.s2ListText {
		font-size: 12px;
		line-height: 16px;
		letter-spacing: 0.3px;
		margin-top: 6px;
	}

	.s2AddProd {
		width: 300px;
		bottom: -310px;
		left: 50%;
		transform: translateX(-50%);
	}

	.s3LeftImg {
		display: none;
	}

	.s3RightImg {
		display: none;
		margin: 25px 0 15px;
	}

	.section3 {
		padding: 40px 0 30px;
	}

	.section3 .commonText {
		margin-top: 15px;
		padding: 0 26px;
	}

	.section3 .commonText.underline {
		margin-top: 20px;
	}

	.section4 {
		background: #f9f9f9;
	}

	.s4Left {
		width: calc(100% + 30px);
		padding: 25px 0 0 20px;
		height: 238px;
		margin: 0 0 0 -15px;
	}

	.s4Left:before {
		height: 238px;
		background-size: 110%;
	}

	.s4Right {
		height: auto;
		width: calc(100% + 30px);
		margin: 0 -15px 0 0;
		padding: 0;
	}

	.s4Right:before {
		display: none;
	}

	.s4RightInner {
		width: 100%;
		padding: 25px 20px 0 20px;
	}

	.s4RightBg {
		display: block;
		max-width: 100%;
		margin: 0 auto;
	}

	.section5 {
		padding: 25px 0 20px;
	}

	.section5 .commonText {
		padding: 0 20px;
	}

	.s5CompBox {
		border-radius: 10px;
		margin-top: 160px;
	}

	.s5Col1 {
		width: 46%;
		padding: 10px 0;
	}

	.s5Col1 ul li {
		font-size: 14px;
		line-height: 18px;
		padding: 13px 0 13px 30px;
		background-position: 10px 14px;
		background-size: 14px;
	}

	.s5Col2 {
		width: 24%;
		margin: -95px 3% -25px 0;
	}

	.s5Col2Top {
		height: 100px;
	}

	.s5Col2Prod {
		margin: -45px auto 10px;
		width: 70px;
	}

	.s5Col2Top p {
		font-size: 20px;
	}

	.s5Col2Top {
		height: 100px;
	}

	.s5Col3Top p,
	.s5Col4Top p {
		font-size: 11px;
	}

	.s5Col3Prod {
		margin: -30px auto 25px;
		width: 70px;
	}

	.section6 {
		padding: 30px 0 0;
	}

	.s6Left {
		width: 100%;
		text-align: center;
	}

	.s6SealBg {
		width: 300px;
		display: none;
	}

	.s6Seal {
		position: static;
		display: block;
		margin: 0 auto;
		width: 160px;
	}

	.s6Right {
		width: 100%;
		text-align: center;
		padding: 15px 0 30px;
	}

	.s6Right .commonText {
		padding-right: 0;
	}

	.section7 {
		padding: 25px 0 20px;
	}

	.s7Mid {
		width: calc(100% + 30px);
		margin: 0 0 0 -15px;
	}

	.testBox {
		margin-top: 20px;
		justify-content: center;
	}

	.testCol {
		width: 350px !important;
		margin: 0 10px 20px;
	}

	.section8 {
		padding: 30px 0 30px;
	}

	.faq-container {
		margin-top: 0;
	}

	.up-slide-dwn {
		margin-top: 15px;
		padding: 0 15px;
	}

	.accordion {
		padding: 15px 30px 12px 0;
		font-size: 16px;
		line-height: 22px;
	}

	.acdn-para {
		font-size: 15px;
		line-height: 23px;
	}

	.acdnImg img {
		width: 120px;
	}

	.acdnList li {
		font-size: 15px;
	}

	.footer {
		padding: 0px 0 30px;
	}

	.footerLogo {
		margin-top: 30px;
	}

	.ftrText1 {
		font-size: 14px;
		line-height: 20px;
	}

	#ctabtn-mob {
		background: #2d2d2d;
		padding: 7px 10px;
		position: fixed;
		bottom: 0%;
		left: auto;
		z-index: 99;
		transition: bottom 1s;
		display: table;
		width: 100%;
	}

	#ctabtn-mob a.order-btn {
		margin: 0;
	}

	.comn-btn {
		font-size: 22px;
		padding: 0 20px;
	}

	.btn-arw {
		margin: -4px 0 0 10px;
	}
}
html {
	scroll-behavior: smooth;
}
.comn-btn small.d-flex {
    gap: 5px;
	font-size: 12px;
    justify-content: center;
    font-weight: 400;
}

.below_btn {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    margin: 25px auto;
    width: 100%;
    max-width: 500px;
}
.below_btn h3 {
    font-size: 35px;
    font-weight: 700;
    line-height: 1;
}
.below_btn p {
    opacity: .7;
    font-size: 15px;
}
.below_btn>img {
    max-width: 450px;
    display: block;
    margin: 0 auto;
}